div{
    width: 20%;
    background-color: rgb(163, 231, 54);
    border: black 4px solid;
}
img{
    width: 100%;
    height: 200px;
}
#a1{
    float: left;
}
#b1{
    float: left;
}
h1{
    color: black;
    text-align: center;
}
h2{
    color: red;
}